@media screen and (max-width: 385px) {

#logo-img{
	width: 50px;
	height: 50px;

}
#fea{
	font-weight: 80;
	color: #60707d;
	font-size: 1em;	
	margin-left: 10px;
}

.box{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	align-items: center;

}

.logo{
	order: -1;
	width: 20%;
	position: relative;
}
.photo{
	margin-right:70px;
	margin-left: 70px;

}

#big-photohtml{
	margin-left: auto;
    margin-right: auto;
	width: 360px;
	height: 200px;
	margin-top: 10px;
	align-items: center;
}
h2{
	margin-top: 0px;
	text-align-last: right;
	margin-right: 10px;
	font-weight: 10;
	color: #2d3c49;
	font-size: 0.9em;
	order: 2;
	vertical-align: bottom;
}


h1{
	text-align: right;
	margin-right: 10px;
	font-weight: 100;
    color: #212121;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 10px;
    order: 1;
}

}

 @media screen and (min-width: 768px) {

#logo-img{
	width: 80px;
	height: 80px;

}
#fea{
	font-weight: 150;
	color: #60707d;
	font-size: 1.5em;	
	margin-left: 10px;
}

.box{
	width: 200px;
	height: 200px;
	padding: 10px;
}

.logo{
	order: -1;
	width: 20%;
	position: relative;
}


#big-photohtml{
	margin-left: auto;
    margin-right: auto;
	width: 768px;
	height: 600px;
	margin-top: 10px;
	align-items: center;
}
h2{
	margin-top: 0px;
	text-align-last: right;
	margin-right: 10px;
	font-weight: 10;
	color: #2d3c49;
	font-size: 1em;
	order: 2;
	vertical-align: bottom;
}


h1{
	text-align: right;
	margin-right: 10px;
	font-weight: 100;
    color: #212121;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 10px;
    order: 1;



}
.photo{
	margin-left: auto;
    margin-right: auto;
    width: 690px
}

 }

@media screen and (min-width: 1280px) { 

#logo-img{
	width: 200px;
	height: 200px;

}
#fea{
	font-weight: 250;
	color: #60707d;
	font-size: 2em;	
	margin-left: 10px;
}

.box{
	width: 400px;
	height: 400px;
	padding: 10px;
}

.logo{
	order: -1;
	width: 20%;
	position: relative;
}



#big-photohtml{
	margin-left: auto;
    margin-right: auto;
	width: 1265px;
	height: 600px;
	margin-top: 10px;
	align-items: center;

}
h2{
	margin-top: 0px;
	text-align-last: right;
	margin-right: 10px;
	font-weight: 10;
	color: #2d3c49;
	font-size: 2em;
	order: 2;
	vertical-align: bottom;
}


h1{
	text-align: right;
	margin-right: 10px;
	font-weight: 100;
    color: #212121;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 10px;
    order: 1;



}
.photo{
	margin-left: auto;
    margin-right: auto;
    width: 1290px
}



}

h2{
	margin-top: 0px;
	text-align-last: right;
	margin-right: 10px;
	font-weight: 10;
	color: #2d3c49;
	font-size: 0.9em;
	order: 2;
	vertical-align: bottom;
}


h1{
	text-align: right;
	margin-right: 10px;
	font-weight: 100;
    color: #212121;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 10px;
    order: 1;



}

.information{
	width: 80%;
	font-family: Roboto;
	text-transform: uppercase;


}

#big-photohtml{
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	align-items: center;
}

 #logo-img{
	width: 50px;
	height: 50px;

}
.logo{
	order: -1;
	width: 20%;
	position: relative;
}

#text{
	text-align: center;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}


header{
	padding: 1em;
	border-bottom: 2px solid #7d97ad;
	display: flex;
    flex-wrap: wrap;


}
.photo{
    display: grid;

}
.photo{
	align-items: center;
  	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	display: flex;
    -webkit-align-content: center;
    align-content: center;
}
